html {
    background: url("portrait.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

div.header {
   background-color: rgba(0, 0, 0, 0.7); 
   font-size: 400%;
   color: #FFFFFF;
   padding: 20px;
   margin: 0px;
   font-family: 'Raleway', sans-serif;
}

div.container {
    position: absolute;
    margin-top: 25%;
    width: 100%;
}

div.yes {
    background-color: rgba(0, 200, 0, 0.8);
    font-size: 600%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #AAFFAA;
    border-radius: 300px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    width: 200px;
    margin: 0 auto;
}

#TimeLeft{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
    text-shadow: -1px 0 rbga(200,0,0,0.8), 0 1px rgba(200,0,0,0.8), 1px 0 rbga(200,0,0,0.8), 0 -1px rbga(200,0,0,0.8);
}
div.no {
    background-color: rgba(200, 0, 0, 0.8);
    font-size: 600%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #FFAAAA;
    border-radius: 300px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    width: 200px;
}

div.page_contents{
    min-height: 100%;
    margin-bottom: -70px;
}

div.footer {
   background-color: rgba(0, 0, 0, 0.7); 
   font-size: 300%;
   text-align: right;
   color: #FFFFFF;
   padding: 10px;
   height: 60px;
   margin: 0px;
   font-family: 'Raleway', sans-serif;
}
